/* Remove the navbar's default margin-bottom and rounded borders */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.wrapper {
    text-align: center;
}

.wrapper img {
    border-radius: 15px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}



.github {
    width: 100px;
    height: 100px;
}

.container {
    position: relative;
    color: white;
    text-align: center;
}

.email {
    width: auto;
    height: 100px;
}

.jumbotron {
    background-image: url("vw.png");
}

.jumbotron h1 {
    text-align: center;
    color: white;
    opacity: 120%;
}
